.homeBox {
  padding: 35px 55px 60px;
  background: #FFFFFF;
}

.calculations {
  width: 63.2%;

  &__title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 18px;
    font-size: 40px;
    letter-spacing: 0;
    color: #1E1E1E;
    opacity: 1;
    font-weight: 500;
  }
}