.dailyResume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;

  &__left {
    width: 43.25%;

    &_title {
      padding: 12px 5px 0 0;
      text-align: right;
      letter-spacing: 0;
      color: #131426;
      line-height: 100%;
      font: normal normal normal 18px/23px Blender;
    }

    &_box {
      margin: 10px 0 0;
      display: flex;
      justify-content: flex-end;
      column-gap: 15px;
      padding: 15px 25px;
      background: #d4f6e4;
      border-radius: 5px;

      div {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
      }

      p {
        letter-spacing: 0;
        color: #131426;
        font: normal normal normal 18px/23px Blender;
      }
    }
  }

  &__right {
    width: 55.5%;

    &_title {
      line-height: 30px;
      letter-spacing: 0;
      color: #131426;
      text-align: right;
      padding: 0 5px 0 0;
      font: normal normal normal 27px/35px Blender;
    }

    &_box {
      margin: 10px 0 0;
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
      overflow: hidden;

      &-left {
        background: #b4e4ca;
        padding: 15px 20px 10px;
        width: 30%;

        &-title {
          letter-spacing: 0;
          color: #131426;
          display: flex;
          align-items: center;
          column-gap: 10px;
          text-align: right;
          font: normal normal normal 18px/23px Blender;

          i {
            color: #EF4030;
            font-weight: bold;
            font-size: 20px;
          }
        }

        &-value {
          letter-spacing: 0;
          color: #EF4030;
          margin: 10px 0 0;
          text-align: right;
          padding: 0 25px 0 0;
          font: normal normal normal 16px/20px Blender;
        }
      }

      &-right {
        background: #d4f6e4;
        width: 70%;
        display: flex;
        justify-content: space-between;
        padding: 15.5px 20px 15.5px;

        &-text {
          line-height: 19px;
          text-align: right;
          letter-spacing: 0;
          color: #131426;
          font: normal normal bold 18px/23px Blender;
        }

        &-descr {
          line-height: 19px;
          letter-spacing: 0;
          color: #131426;
          text-align: right;
          font: normal normal normal 17px/22px Blender;

          &-small {
            line-height: 19px;
            letter-spacing: 0;
            color: #131426;
            text-align: right;
            font: normal normal normal 13px/17px Blender;
          }
        }

        &-margin {
          margin: 7px 0 0;
        }
      }
    }
  }

  &__bot {
    display: flex;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

    &_left {
      background: #b4e4ca;
      width: 100%;
      padding: 20px;

      p {
        line-height: 19px;
        letter-spacing: 0;
        color: #000000;
        text-align: right;
        font: normal normal normal 13px/17px Blender;
      }
    }

    &_right {
      background: #d4f6e4;
      padding: 20px;

      p {
        line-height: 19px;
        letter-spacing: 0;
        color: #000000;
        text-align: right;
        white-space: nowrap;
        font: normal normal bold 18px/23px Blender;
      }
    }
  }
}