.home {
  padding: 50px 0;
  overflow-x: scroll;
  max-height: calc(100vh - (59px + 126px));
  direction: rtl;

  &__row {
    direction: ltr;
    display: flex;
    justify-content: space-between;
  }
}

.homeBox {
  padding: 35px 55px 60px;
  background: #FFFFFF;
}