.header__down {
  display: flex;
  background: #DDE2E8;
  position: relative;
  z-index: 3;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.75px solid #BFCDE2;;
  &_profile {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    background: #FFFFFF5F;
    padding: 20px 74px 20px 40px;
    align-items: center;
    .info {
      display: flex;
      flex-direction: column;
      .number{
        text-align: left;
        font: normal normal normal 18px/23px Blender;
        letter-spacing: 0;
        color: #121325;
        opacity: 1;
      }
      .test{
        text-align: left;
        font: normal normal normal 18px/23px Blender;
        letter-spacing: 0;
        color: #121325;
        opacity: 1;
      }
      .name{
        text-align: left;
        font: normal normal normal 32px/42px Blender;
        letter-spacing: 0;
        color: #131426;
        opacity: 1;
      }
      .subInfo{
        text-align: left;
        font: normal normal bold 14px/18px Blender;
        color: #686868;
        opacity: 1;
        padding: 3px 14px;
        background: #FFFFFF;
        border-radius: 9px;
      }
    }
    img {
      margin-left: 10px;
      width: 90px;
      height: 90px;
      border-radius: 50%;
    }
  }

  &_right {
    display: flex;
    align-items: center;
  }

  &_benefits {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
    padding: 0 40px;
    border-right: 0.75px solid #BFCDE2;

    img {
      width: 44px;
      height: 44px;
      margin-bottom: 12px;
    }
  }

  &_first {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
    padding: 0 40px;
    border-right: 0.75px solid #BFCDE2;

    img {
      width: 51px;
      height: 48px;
      margin-bottom: 12px;
    }
  }

  &_dates {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
    padding: 0 40px;
    border-right: 0.75px solid #BFCDE2;

    img {
      width: 60px;
      height: 60px;
      margin-bottom: 12px;
    }
  }

  &_iconCard {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      text-align: left;
      color: #0072BC;
      opacity: 1;
    }
  }

  &_actualCard {
    background: #E9EFF5;
    border-radius: 15px;
    opacity: 1;
    padding: 6px 16px;
    margin-left: 40px;

    p:first-child {
      color: #686868;
      text-align: left;
      opacity: 1;
      font-weight: lighter;
      font-size: 16px;
    }

    p {
      color: #686868;
      font-weight: bold;
      text-align: left;
      opacity: 1;
    }
  }
}