.header__down {
  display: flex;
  background: #DDE2E8;
  position: relative;
  z-index: 3;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.75px solid #BFCDE2;;

  &_profile {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    background: #FFFFFF5F;
    padding: 20px 74px 20px 40px;
    align-items: center;

    .info {
      display: flex;
      flex-direction: column;

      .number {
        margin-right: 8px;
        text-align: left;
        letter-spacing: 0;
        color: #121325;
        opacity: 1;
        font: normal normal normal 18px/23px Blender;
      }

      .name {
        text-align: left;
        letter-spacing: 0;
        color: #131426;
        opacity: 1;
        font: normal normal normal 32px/42px Blender;
      }

      .subInfo {
        text-align: left;
        color: #686868;
        opacity: 1;
        padding: 3px 14px;
        background: #FFFFFF;
        border-radius: 9px;
        align-self: flex-end;
        font: normal normal bold 14px/18px Blender;
        letter-spacing: 0;
      }
    }

    &-img {
      margin-left: 20px;
      width: 85px;
      height: 85px;
      border-radius: 50%;
      background: #FFFFFF;
      overflow: hidden;
      position: relative;

      div {
        position: absolute;
        bottom: -15%;
        left: 50%;
        transform: translate(-50%, 0);
      }

      i {
        font-size: 80px;
        color: #99A5B2;
      }
    }
  }

  &_right {
    display: flex;
    align-items: center;
  }

  &_benefits {
    display: flex;
    align-items: flex-start;
    padding: 0 40px;
    border-right: 0.75px solid #BFCDE2;

    .title {
      color: #FFFFFF !important;
    }

    img {
      width: 44px;
      height: 44px;
      margin: 10.5px 0;
    }
  }

  &_first {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
    padding: 0 40px;
    border-right: 0.75px solid #BFCDE2;

    img {
      width: 51px;
      height: 48px;
      margin: 8.5px 0;
    }
  }

  &_dates {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
    padding: 0 40px;
    border-right: 0.75px solid #BFCDE2;

    img {
      width: 60px;
      height: 60px;
      margin-bottom: 5px;
    }
  }
  &_dates .header__down_iconCard:nth-child(2){
    .title{
      color: #686868 !important;
    }
  }

  &_iconCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .title {
      text-align: left;
      color: #0072BC;
      opacity: 1;
      font: normal normal bold 16px/20px Blender;
      letter-spacing: 0;
    }
  }

  &_benefits .header__down_iconCard:nth-child(3) {
    .title {
      color: #686868 !important;
    }
  }

  &_benefits {
    .lines {
      display: flex;
      align-items: center;

      span {
        width: 25px;
        height: 1px;
        background: #FFFFFF;
      }
    }
  }


  &_actualCard {
    background: #E9EFF5;
    border-radius: 15px;
    opacity: 1;
    padding: 6px 16px;
    margin-left: 40px;

    &-subtitle {
      color: #686868;
      text-align: center;
      opacity: 1;
      font: normal normal normal 16px/20px Blender;
      margin: 0 0 3px;
      letter-spacing: 0;
    }

    &-date {
      color: #686868;
      text-align: left;
      opacity: 1;
      font: normal normal bold 16px/20px Blender;
      letter-spacing: 0;
    }
  }
}