.header__up {
  background: #0072BC;
  padding: 7px 0;
  display: flex;
  justify-content: flex-end;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 97.4%;
    margin: unset;
    padding: 0 10px 0 0;
  }

  &_links {
    display: flex;
    height: 100%;
    align-self: flex-end;
    align-items: flex-end;
    column-gap: 50px;

    a {
      display: flex;
      align-items: center;
      column-gap: 11px;
      color: #FFFFFF;
      transition: 0.3s;
      position: relative;
      z-index: 2;
      font: normal normal normal 18px/23px Blender;
    }

    .active {
      color: #686868;
      transition: 0.3s;
    }

    .active:before {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: "";
      position: absolute;
      z-index: -1;
      background: #DDE2E8;
      box-shadow: 0px -3px 35px #00000040;
      border-radius: 5px 5px 0 0;
      width: 100%;
      height: 100%;
      padding: 3px 13px 14px 16px;
    }
  }

  &_right {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: #FFFFFF;

    h2 {
      text-align: right;
      font: normal normal normal 34px/44px Blender;
      letter-spacing: 0;
      color: #FFFFFF;
    }
  }
}