* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Blender', sans-serif;
}


body::-webkit-scrollbar {
    position: absolute;
    top: 0;
    left: 0;
}

body {
    background: #F3F3F3;
    position: relative;
    overflow: auto;
}

button {
    cursor: pointer;
}

.container {
    max-width: 94.8%;
    width: 100%;
    margin: 0 auto;
}