* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Blender Pro', sans-serif;
}

button {
    cursor: pointer;
}

.container {
    max-width: 94.8%;
    width: 100%;
    margin: 0 auto;
}