* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Blender', sans-serif;
}


body {
    background: #F3F3F3;
    overflow-y: hidden;
}

body::-webkit-scrollbar{
    height: 0;
}

#root{
    overflow-y: scroll;
    height: 100vh;
    direction: rtl;
}
.scrollbar{
    direction: ltr;
}

button {
    cursor: pointer;
}

.container {
    max-width: 94.8%;
    width: 100%;
    margin: 0 auto;
}