.calculationsBox {
  margin: 25px 0 0;

  &__title {
    letter-spacing: 0;
    color: #131426;
    text-align: right;
    margin: 0 0 15px;
    padding: 0 30px 0 0;
    font: normal normal normal 20px/25px Blender;
  }

  &__content {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 110px;
  }

  &__edit {
    padding: 10px 15px 10px 10px;
    background: #e1e7ec;
    width: 20%;

    &_btn {
      background: #0072BC;
      border-radius: 5px;
      letter-spacing: 0;
      color: #FFFFFF;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      column-gap: 5px;
      border: none;
      transition: 0.1s;
      font: normal normal normal 13px/17px Blender;

      &:hover {
        background: #0063ad;
        transition: 0.1s;
      }
    }

    &_title {
      margin: 5px 0 0;
      letter-spacing: 0;
      color: #131426;
      text-align: right;
      font: normal normal normal 20px/25px Blender;

      span {
        letter-spacing: 0;
        color: #131426;
        text-align: right;
        font: normal normal normal 20px/25px Blender;
      }
    }

    &_input {
      margin: 5px 0 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 10px;

      button {
        background: #FFFFFF;
        border-radius: 50px;
        border: none;
        position: relative;
        width: 25px;
        height: 25px;

        i {
          font-size: 22px;
          color: #e1e7ec;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }

      p {
        font: normal normal normal 16px/20px Blender;
        letter-spacing: 0;
        color: #0072BC;
        text-align: right;
      }
    }
  }

  &__info {
    background: #f0f2f4;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 12px 30px 12px 25px;

    &_text {
      letter-spacing: 0;
      color: #131426;
      text-align: right;
      font: normal normal bold 20px/25px Blender;
      line-height: 25px;

      &-margin {
        margin: 13px 0 0;
      }
    }

    &_descr {
      letter-spacing: 0;
      line-height: 25px;
      color: #131426;
      text-align: right;
      font: normal normal normal 16px/20px Blender;

      i {
        color: #F58420;
        font-size: 20px;
      }

      &-flex {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 5px;
      }

      &-margin {
        margin: 2px 0 0;

        &-big {
          margin: 18px 0 0;
        }
      }
    }
  }

  &__line {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
  }
}